<table class="table table-striped">
    <thead>
        <tr>
            <th>Screen name</th>
            <th>followers count</th>
            <th>retweet count</th>
            <th>likes count</th>
            <th>text</th>
            <th>Created at</th>
        </tr>
    </thead>
    <tbody>
        <% @tweets.each do |twit| %>
            <tr>
                <td><%= twit.profile_link %></td>
                <td><%= twit.followers_count %></td>
                <td><%= twit.retweets_count%></td>
                <td><%= twit.likes_count%></td>
                <td><%= twit.text%></td>
                <td><%= twit.tweet_link%></td>
            </tr>
        <% end %>
    </tbody>
</table>
